@using WebMaze.Models.GuessTheNumber
@using WebMaze.Services.GuessTheNumber;


<div>
    <span style="font-size:30px; color:red">
        Error!!!
        Please contact service support.
    </span>
</div>