@using WebMaze.Models.GuessTheNumber
@model List<GuessTheNumberGameAnswerViewModel>


    <div class="container">
        <div class="row justify-content-center">

            <table class="table table-bordered">
                <thead>
                    <tr class="align-content-md-center">
                        <th scope="col"> Introduced answer</th>
                        <th scope="col">More or less</th>
                        <th scope="col">Attempts</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var guessTheNumberGame in Model)
                    {
                        <tr>
                            <td>
                                <span>@guessTheNumberGame.IntroducedAnswer</span>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
