
@section Scripts{
    <script src="~/js/couple.js"></script>

    <link rel="stylesheet" href="~/css/couple.css" />
}

<div class="game-field">




</div>

<div class="card-block template">
    <img class="main-image" src="~/imgYellowTeam/coin.jpg" />
    <img class="cover" src="~/imgYellowTeam/stoc.jpg" />
</div>