@model MazeDifficultProfileViewModel
@section Sprite{
<link rel="stylesheet" href="~/css/BuyMaze.css" />
}
<div class="backGround-BuyMaze">
    <div class="text-center">
        <form method="post">
            <div class="DataInput">
                Name: <input autocomplete="off" id="Name" name="Name" type="text" value="">
            </div>
            <div class="DataInput">
                Maze level:
                <select size="1">
                    <option>Чебурашка</option>
                    <option>Крокодил Гена</option>
                    <option>Шапокляк</option>
                    <option>Крыса Лариса</option>
                </select>
            </div>
            <div>
                <input class="BuyMaze" type="submit" value="Buy" />
                <a style="text-decoration: none; color: #000000;" href="/Maze/Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
