@using Net12.Maze
@model List<MazeViewModel>

<div class="menu-maze-difficult">
    <a href="/Maze/AddMazeDifficult">Add Maze Difficult</a>
    <a href="/Maze/ManageMazeDifficult">Manage Maze Difficult</a>
    <a href="/Maze/Maze">Create Maze</a>
</div>

<div class="text-center">
    <div class="maze-alert-heading">My Mazes</div>
    @foreach (var maze in Model)
    {
        <div class="maze-list">
            <div class="maze-text-info">
                @maze.Name
            </div>
            <div class="maze-text-info">
                <a href="/Maze/Maze?id=@maze.Id">Play</a>
                <div>Delete</div>
            </div>
        </div>
    }


</div>


