@using Net12.Maze
@model MazeLevelViewId

<div class="menu-maze-difficult">
    <a href="/Maze/AddMazeDifficult">Add Maze Difficult</a>
    <a href="/Maze/ManageMazeDifficult">Manage Maze Difficult</a>
    <a href="/Maze/Index">Create Maze</a>
</div>

<div class="text-center">
    <h1>Maze</h1>
    @for (int y = 0; y < Model.MazeLevel.Height; y++)
    {
        <div>
            @for (int x = 0; x < Model.MazeLevel.Width; x++)
            {
                <span>
                    @if (Model.MazeLevel[x, y] is Wall)
                    {
                        <img class="cell" src="~/images/cells/wall.jpg" />
                    }
                    else
                    {
                        <img class="cell" src="~/images/cells/ground.jpg" />
                    }
                </span>
            }
        </div>
    }
</div>

<div>
    <fieldset>
        <legend><b>Controllers:</b></legend>
        <form action="/Maze/Index" method="post">
            @Html.HiddenFor(x => x.Id)
            <input type="submit" value="Save Game" />
        </form>
    </fieldset>
</div>

