.header{
	display: flex;
	justify-content: center;
	border-bottom: 3px #130101 dashed;
}

.main-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    padding: 20px;
}

.Fountain{
    display: flex;
}


.Coin{
    display: flex;
    flex-direction: row-reverse;
}

.main-content img{
	max-width: 300px;
	max-height: 300px;
}


/* .gate{ */
	/* width: 200px; */
    /* background: violet; */
    /* height: 200px; */
    /* background-image: url(../images/gate.jpg); */
    /* background-size: contain; */
    /* color: wheat; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* font-size: 60px; */
/* } */