a.BuyMazeButton {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}
    a.BuyMazeButton:hover {
        background: #dcdcdc linear-gradient(#fff, #dcdcdc);
        box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
    }
    a.BuyMazeButton:active {
        background: none;
        box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
    }

.DataInput{
    flex-direction: column;
    display: flex;
    
}
.backGround-BuyMaze {

    display: flex;
    justify-content: center;
}
input.BuyMaze {
    background-color: gray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
    border-radius: 200px;
}
