.carousel-head {
    font-size: 50px;
    text-align: center;
    margin: 10px;
}

.carousel-block {
    display: grid;
    justify-content: center;
}

    .carousel-block span {
        width: 200px;
        height: 200px;
    }

.next-image {
    float: left;
    width: 0px;
    height: 200px;
}

.current-image {

    width: 200px;
    height: 200px;
}