.GetById {
}
.GetOnDate {
    display: none;
}
.GetOnPeriod {
    display: none;
}
.getOnPeriod-field {
    display: none
}
.getOnPeriod{
    display: none;
}
.graph {
    position: relative;
    margin: auto;
}