.add {
    display: flex;
    flex-direction: column;
    align-items: center
}

.add-text {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #01B636;
    text-shadow: 2px 2px #74E39A;
    font-size: 40px;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    width: fit-content;
    color: white;
    background-color: #9ECBAB;
    border-radius: 5px;
}

.choose-how {
    display: flex;
    align-items: center;
}

.pic-upload {
    width: 300px;
}

.input#file-upload-button {
    background: #3BD16F;
}

.pic-url {
   width: 300px;
}

.addField {
    background-color: #E3E3E3;
    border-color: #E3E3E3;
    color: #01B636;
    outline: none;
}

.form-for-pic {
    display: flex;
    flex-direction: column;
}

/*toggle*/
.ios-toggle {
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    width: 5.3em;
    width: 550px;
}

    .ios-toggle input,
    .ios-toggle input:active {
        border: 0;
        height: 0;
        opacity: 0;
        outline: none;
        position: absolute;
        left: -5000px;
        width: 0;
    }

    .ios-toggle label {
        background: #E3E3E3;
        border: 0.2em solid #E3E3E3;
        border-radius: 1.6em;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 3.2em;
        padding: 1em;
        position: relative;
        transition: 0.3s ease-out;
        width: 100%;
    }

        .ios-toggle label::before {
            background: #01B636;
            border-radius: 1.4em;
            box-shadow: 0 0.3em 0.3em #E3E3E3, 0 0 0 0.1em #E3E3E3;
            content: "";
            display: block;
            height: 2.8em;
            left: 0;
            position: absolute;
            right: auto;
            text-indent: 4em;
            top: 0;
            transition: 0.25s ease-in-out;
            width: 2.8em;
            z-index: 2;
        }

        .ios-toggle label::after {
            background: #E3E3E3;
            border-radius: 1.4em;
            content: "";
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transition: 0.25s ease-in-out;
            width: 2.8em;
            z-index: 1;
        }

    .ios-toggle input:active + label::before {
        width: 3.2em;
    }

    .ios-toggle input:checked + label {
        border-color: #E3E3E3;
    }

        .ios-toggle input:checked + label::after {
            background-color: #E3E3E3;
            right: 1.4em;
            width: 100%;
        }

        .ios-toggle input:checked + label::before {
            left: calc(100% - 2.8em);
        }

    .ios-toggle input:checked:active + label::before {
        left: calc(100% - 3.2em);
    }