.add {
    background-image: url(/images/galleryImg/addBack.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.add-text {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.form {
    display: inline-flex;
    flex-direction: column;
    text-align: unset;
    color: white;
    backdrop-filter: blur(5px) brightness(60%);
    border-radius: 5px;
}

.form-for-pic {
}

.form-button {
    text-align: center;
    background-color: black;
    border: ridge;
    color: floralwhite;
}