.title-favGame {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 5px 0 3px 0
}

.title-favGames {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-style: italic;
    margin: 5px 0 20px 0;
}

.add-favGame-title {
    display: compact;
    justify-content: center;
    color: white;
    font-size: 90px;
    margin: 0 0 20px 0;
    backdrop-filter: brightness(40%)
}

.favGame-desc {
    display: flex;
    justify-content: space-between;
    font-size: 18px
}

.game-elements {
    justify-content: center;
    text-align: center;
    white-space: nowrap
}

.favGame-desc1 {
    display: flex;
    margin: 0 80px 0 80px
}

.favGame-user-elements, .add-favGame-desc {
    font-style: italic;
    justify-content: center;
    text-align: center;
    white-space: nowrap
}

.add-favGame-form {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    font-size: 25px;
    color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 4px 2px #fff;
    backdrop-filter: blur(5px) brightness(40%);
}

.add-favGame-page {
    justify-content: center;
    text-align: center;
    background-image: url(/imgFavGames/addFavGameBackground.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}

.textarea {
    font-size: 20px;
}

.input {
    font-size: 25px;
    margin: 30px 0 0 0
}

.favGame-link {

    color: white;

}

.favGame-links {
    text-align: left;
    font-size: 30px;
    backdrop-filter: blur(5px) brightness(20%);
}
