body {
    background-image: url(/imgFavGames/favGamesBackground.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.add-favGame-preview {
    display: inline;
    flex-direction: column;
}

.add-favGame-objects {
    display: flex;
    justify-content: space-between;
}

.favGame-preview-title-main-wrap {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.favGame-preview-title-main {
    margin-top: -12px;
    align-self: center;
    transform: perspective(300px) rotateX(15deg) scaleY(0.8);
    transition: all 0.5s;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 90px;
    letter-spacing: 3px;
    color: #b841df;
    text-shadow: 0 0 10px rgb(129 25 110 / 90%), 0 10px 0 #c81a9a;
}

.favGame-preview-title-main-wrap:hover .favGame-preview-title-main {
    transform: perspective(1000px) rotateX(15deg) scale(1.07);
    text-shadow: 0 0 10px black, 0 2px 0 #BFE2FF;
}

.favGame-preview-genre {
    font-size: 20px;
    color: white;
}

.all-preview-elements {
    display: flex;
    flex-direction: column;
    color: white;
}

.title-favGame, .favGame-preview-title {
    display: inline-flex;
    font-size: 40px;
    margin: 30px 40px 10px 40px;
    padding: 0 10px 0 10px;
    backdrop-filter: blur(5px) brightness(40%);
    box-shadow: 0 0 4px 5px #fff;
    width: fit-content;
    align-self: center;
}

.title-favGames {
    display: flex;
    justify-content: center;
    font-size: 90px;
    font-style: italic; 
    margin: 5px 0 10px 0;
}

.add-favGame-title {
    justify-content: center;
    color: white;
    font-size: 90px;
    margin: 50px 250px 20px 250px;
}

.all-about-favGame {
    display: inline-flex;
    justify-content: space-around;
    font-size: 18px;
}

.game-elements {
    justify-content: space-around;
    margin: auto 40px auto 40px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 30px;
    backdrop-filter: blur(1px) brightness(50%);
}

.favGame-description {
    margin: auto 40px auto 40px;
    padding: 10px;
    border-radius: 30px;
    backdrop-filter: blur(5px) brightness(40%);
}

.favGame-user-elements {
    font-style: italic;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin: auto 40px auto 40px;
    white-space: nowrap;
    padding: 10px;
    border-radius: 30px;
    backdrop-filter: blur(1px) brightness(50%);
}

.add-favGame-desc {
    font-style: italic;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}

.add-favGame-form {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    font-size: 25px;
    color: white;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 4px 7px #fff;
    backdrop-filter: blur(5px) brightness(40%);
    margin: 0 0 50px 0;
}

.add-favGame-page {
    justify-content: center;
    text-align: center;
}

.textarea {
    font-size: 30px;
    border-radius: 15px;
}

.input {
    font-size: 25px;
    margin: 30px 0 0 0;
}

.favGame-link {
    color: white;
}

.favGame-links {
    text-align: left;
    font-size: 30px;
    color: white;
    left: 0;
    top: 0;
    position: absolute;
    backdrop-filter: blur(5px) brightness(20%);
}

.favGames-page {
    color: white;
}

.bottom-favGames {
    color: white;
    backdrop-filter: blur(10px) brightness(60%);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px; 
}

.favGames-block {
    margin: 0 0 30px 0;
}

.each-favGame {
    text-align: center;
}

.add-favGame-input-forms{
    margin: 5px 0 5px 0
}

.rating-choose {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}