.maze-alert-heading {
    font-size: 30px;
    font-family: cursive;
}

.maze-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*border: solid 1px;*/
    margin-top: 10px;
}

    .maze-list .maze-text-info {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.button-view-up {
}

.button-view-down {
    display: flex;
    justify-content: center;
}

.button-controller-click {
}
.cellMaze {
    height: 70px;
    width: 70px;
}
.fild {
    height: 70px;
    font-size: 0;
}
