.news-title {
    display: flex;
    justify-content: center;
}

.news-text {
    font-size: 24px;
    text-align: justify;
    margin-bottom: 40px;
}

.date-author {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 700;
}

.news-content {
    margin-left: 200px;
    margin-right: 200px;
}

.comments-count {
    margin-left: 300px;
    margin-top: 30px;
    font-weight: 800;
    font-size: 20px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 230px;
    border: solid 1px;
    display: flex;
}

.comment-date-author {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}
