.all-content {
    margin: 10px 50px 10px 50px;
}

.perpage {
    display: flex;
    justify-content: center;
}

.page-number {
    padding: 0px 5px 0px 5px;
}

.prev-next-page {
    letter-spacing: -5px;
    padding: 0px 5px 0px 5px;
}
