.allContentPG {
    display: flex;
    justify-content: space-between;
}
    .imagePG {
        padding: 20px;
    }


    .propertiesPG {
        padding: 20px;
        font-size: 30px;
        width:stretch;
    }


    .descriptionPG {
        padding: 20px;
        font-size: 30px;
    }

