.reviews-all {
}

.review {
    margin-top: 3%;
    flex-direction: row;
    border: 1px solid black;
    display: flex;
}

.rname-ico {
    display: flex;
    width: 15%;
}

.rname-ico-text {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.rname-ico-text-rate {
    align-items: center;
    display: flex;
}

.rate-text {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
}

.rate-put {
    border: 1px solid black;
    margin-top: 3%;
}

.img-review {
    width: 100%;
}
