
.seabattle-game {
    display: flex;
    justify-content: space-evenly;
}

.seabattle-field-row {
    display: flex;
}

    .seabattle-field-row a {
        opacity: 0;
    }

.seabattle-empty-cell {
    background-color: white;
    border: 1px solid gray;
    width: 30px;
    height: 30px;
}

.seabattle-fill-cell {
    background-color: black;
    border: 1px solid transparent;
    width: 30px;
    height: 30px;
}

    .seabattle-empty-cell a, .seabattle-fill-cell a {
        display: flex;
        width: 30px;
        height: 30px;
    }

.seabattle-field {
    border: 5px solid green;
}
