.cell{
    width: 20px;
    height: 20px;
    border: 1px #000 solid;
}

.rich{
    color: green;
}

.poor {
    color: red;
}
.text-center {
    
    justify-content: center;
}
.suggested-enemy {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.suggested-enemy-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.suggested-enemy-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.suggested-enemy-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}