.cell{
    width: 20px;
    height: 20px;
    border: 1px #000 solid;
}

.rich{
    color: green;
}

.poor {
    color: red;
}

.add-maze-difficult {
    width: min-content;
    margin: 10px;
}

.manage-maze-difficult {
    display: flex;
    padding: 10px;
}

    .manage-maze-difficult div {
        margin-right: 10px;
    }