.header{
	display: flex;
	justify-content: center;
	border-bottom: 5px #ccc solid;
}
.Cells{
	display: flex;
	justify-content: space-around;
	}
.imeges{
	display: flex;
	justify-content: space-between;
	
}
.imeges-text{
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.description{
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

