.game-field {
    margin: 100px;
    border: 1px solid black;
}

.game-field-cell-none {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}

.game-field-cell-red {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: red;
}

.game-field-cell-green {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: green;
}

.game-field-cell-blue {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: blue;
}

.game-field-cell-purple {
    max-width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: purple;
}

.game-field-cell-orange {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: orange;
}