.header {
    display: flex;
    justify-content: center;
    border-bottom: 3px dashed;
    font-size: xxx-large;
}

.cell-normal {
    display: flex;
    align-items: center;
    padding: 20px;
}

.cellParameters {
    padding: 20px;
}

.cell-info {
    display: flex;
    align-items: center;
    border: 20px;
}

.cell-info-reverse {
    display: flex;
    align-items: center;
    border: 20px;
    flex-direction: row-reverse;
}

.cell-description {
    padding-left: 50px;
    padding-right: 50px;
}

.cell-reverse {
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: row-reverse;
}

.image {
    width: 100px;
    height: 100px;
}

.background{
    background: #ffd800;
}
