@model MovieViewModel

<div>
    <h1>Media library</h1>
    <form action="/Home/AddMovie" method="post">
        <div>
            Title game @Html.TextBoxFor(x => x.TitleGame)
        </div>
        <div>
            Title movie @Html.TextBoxFor(x => x.TitleMovie)
        </div>
        <div>
            Release @Html.TextBoxFor(x => x.Release)
        </div>
        <div>
            <input type="submit"  value="Save" />
        </div>
    </form>
    
</div>