@model StoresAndAddressesViewModel

<div class="text-center">
    <form action="/Home/AddStoresAndAddresses" method="post">
        <div>
            ShopNames @Html.TextBoxFor(x => x.ShopName)
        </div>
        <div>
            AdressOfShops @Html.TextBoxFor(x => x.AdressOfShop)
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>
