@model StuffForHeroViewModel

<html>
    <head>
        <link rel="stylesheet" href="~/css/AddStuffForHero.css" />
    </head>
    <body>
        <div class="background">
            <div class="intro">
                Design exclusive features for your HERO
            </div>
            <div class="create-button">
                <a class="button" href="#">
                    Create stuff
                </a>
            </div>
            <div class="stuff-list">
                <div class="stuff stuff--1">
                    <div class="picture">
                        <img class="gun" src='../images/Gun.png' />
                    </div>
                    <div class="info">
                        <div class="name">
                            Name: Gun
                        </div>
                        <div class="description">
                            Description: Gun can shoot Enemy
                        </div>
                        <div class="price">
                            Price: 50
                        </div>
                    </div>
                </div>
                <div class="stuff stuff--2">
                    <div class="picture">
                        <img class="sword" src='../images/Sword.png' />
                    </div>
                    <div class="info">
                        <div class="name">
                            Name: Sword
                        </div>
                        <div class="description">
                            Description: Can kill an Enemy and destroy weak walls
                        </div>
                        <div class="price">
                            Price: 40
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
