@model SuggestedEnemysViewModel

<div class="text-center">
    <form action="/Home/AddSuggestedEnemy" method="post">
        <div>
            Name @Html.TextBoxFor(x => x.Name)
        </div>
        <div>
            Image @Html.TextBoxFor(x => x.Url, new { @placeholder = "url" })
        </div>
        <div>
            Descripted @Html.TextBoxFor(x => x.Description)
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>