@model List<UserViewModel>

<div class="text-center">
    <h1>Welcome to Maze</h1>
    <div>
        Good news
    </div>
    <div>
        @foreach (var user in Model)
        {
            <div class="@(user.Coins > 0 ? "rich" : "poor")">
                @user.UserName

                <a href="/Home/RemoveUser?userId=@user.Id">X</a>
            </div>
            <div class="global-user-rating">
                <p>@user.GlobalUserRating</p>
            </div>
        }
    </div>
    <div>
        Coins: @Model.Sum(x => x.Coins)
    </div>
</div>
