@model List<MovieViewModel>

    <div>
        Movies!!!
    </div>

    <div>
        @foreach(var MovieViewModels in Model)
            {
            
                <span>
                    @MovieViewModels.TitleGame
                    @MovieViewModels.TitleMovie
                    @MovieViewModels.Release
                    <a href="@MovieViewModels.Link">Перейти</a>
                    
                </span>
                <br/>
            }
    </div>