@model List<NewCellSuggestionViewModel>

<div class="text-center">
    <div>
        <h3>List of new cells:</h3>
    </div>
    <div>
        @foreach (var newCellSuggestionViewModel in Model)
        {
            <div>
                @newCellSuggestionViewModel.Title
            </div>
        }
    </div>
    <div>
        <a href="/Home/AddNewCellSugg">Add New Cell.</a>
    </div>
</div>
