@model List<BugReportViewModel>

<div class="content">
    <div class="title">
        Bug reports
        <div class="title-link">
            <a href="/Home/AddBugReport">Add Bug Report</a>
        </div>
    </div>
    <div class="content-all">
        @foreach (var bugReports in Model)
        {
        <div class="content-report">
            <div class="content-report-name-content">
                <span class="content-report-name">Name:</span> @bugReports.UserName
            </div>
            <div class="content-report-description-content">
                <span class="content-report-description">Descriptoin: </span> @bugReports.Description
            </div>
        </div>   
                            
        }
    </div>

</div>

