@model List<FeedBackUserViewModel>


<div>

    @{
        foreach (var item in new int[]{ 1,2,3})
        {

            <div class="review">
                
                <div class="name-review">
                    <span>Оставил отзыв: *Имя*</span>
                </div>
                <div class="text-review">
                    <span>Отзыв</span>
                </div>
                
            </div>

        }
    }



</div>

