@model List<FeedBackUserViewModel>


<div>

    @{
        foreach (var item in new int[]{ 1,2,3})
        {

            <div style="display: flex; flex-direction: column;">
                
                <div style="align-content:end">
                    <span>Оставил отзыв: *Имя*</span>
                </div>
                <div style="align-content: center">
                    <span>Отзыв</span>
                </div>
                
            </div>

        }
    }



</div>

