@model List<FeedBackUserViewModel>


<div class="reviews-all">

    @{
        foreach (var item in new int[]{ 1,2,3})
        {

            <div class="review">
                
                <div>
                    <span>Оставил отзыв: *Имя*</span>
                </div>
                <div class="text-review">
                    <span>Отзыв</span>
                </div>
                
            </div>

        }
    }



</div>

