@model List<FeedBackUserViewModel>


<div class="reviews-all">

    @{
        foreach (var item in new int[]{ 1,2,3})
        {

            <div class="review">
                
                
                    <div>Оставил отзыв: *Имя*</div>
                
                <div class="text-review">
                    <div>Отзыв</div>
                </div>
                
            </div>

        }
    }



</div>

