@model List<SuggestedEnemysViewModel>

@{
    Layout = "_LayoutYellowTeam";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/siteYellowTeam.css" />
</head>

<body>

    <div class="text-center">
        <div>
            SUGGESTED ENEMYS
        </div>

        <div>
            @foreach (var suggestedEnemys in Model)
            {
                <div class="enemy">
                    <div class="enemy_001">
                         <div>
                            @suggestedEnemys.Name
                         </div>
                             <div>
                                @suggestedEnemys.Description
                             </div>
                        
                    </div>
                        <div>
                            <img class=" enemy_002" src="@suggestedEnemys.Url" />
                        </div>
                </div>

            }
        </div>

    </div>
</body>
</html>