@model List<SuggestedEnemysViewModel>
   
<div class="text-center">
    <div>
    SUGGESTED ENEMYS
    </div>
    
    <div>
        @foreach (var suggestedEnemys in Model)
        {
        <div class="suggested-enemy">
            <div class="suggested-enemy-1">
                <div class="suggested-enemy-2">
                    @suggestedEnemys.Name
                </div>
                <div class="suggested-enemy-3">
                    @suggestedEnemys.Description
                </div>
                
            </div>
            <div >
                <img src=:'@suggestedEnemys.Url' />
            </div>
        </div>
        }
    </div>
    
</div>
