<html>
<head>
    <link rel="stylesheet" href="style/styleRule.css" />
</head>
<body>
    <div class='header'>


        <div style='font-size: 40px;'>
            Rule
        </div>

    </div>
</body>

</html>