
<div>
    <span style="font-size:30px; color:red">
        An error occurred during the transaction, please try again later or contact support.
    </span>
</div>
<div>
    <a href="/RequestForMoney/AddRequestCoins">Add Request Coins</a>
</div>
<div>
    <a href="/RequestForMoney/RequestCoins">Request Coins</a>
</div>