@model ZumaGameFieldViewModel

<div class="big-center-font">
    ☺☻☺   Zuma!!!   ☻☺☻
</div>

<div class="zumagame-game">
    <div class="zumagame-info">

    </div>

    <div>
        @for (int y = 0; y < Model.Height; y++)
        {
            <div class="zumagame-field-row">
                @for (int x = 0; x < Model.Width; x++)
                {
                    var cell = Model.Cells.SingleOrDefault(c => c.X == x && c.Y == y);
                    if (cell != null)
                    {
                        <span style="background-color:@cell.Color">
                            <a class="zumagame-cell" href="/ZumaGame/ClickOnCell?id=@cell.Id"></a>
                        </span>
                    }
                    else
                    {
                        <span style="background-color:white">
                            <a class="zumagame-cell" href="#"></a>
                        </span>

                    }
                }
            </div>
        }
    </div>

    <div class="zumagame-info">
        <div>
            Score:
        </div>

        <div>
            @Model.Score
        </div>
    </div>
</div>

<div class="big-center-font">
    <a href="/ZumaGame/LoseGame?id=@Model.Id">Defeat</a>
</div>