@model ZumaGameFieldViewModel

<div class="zuma-game-head">
    ☺☻☺   Zuma!!!   ☻☺☻
</div>
<div class="zuma-game-field">
    @for (int y = 0; y < Model.Height; y++)
    {
        <div class="zuma-game-field-row">
            @for (int x = 0; x < Model.Width; x++)
            {
                var cell = Model.Cells.Single(c => c.X == x && c.Y == y);
                <span style="background-color:@cell.Color">
                    <a href="/ZumaGame/ClickOnCell?Id=@cell.Id">___</a>
                </span>
            }
        </div>
    }
</div>
