@model ZumaGameScoreViewModel

<div class="zumagame-lose">YOU LOSE!!!!</div>
<div class="big-center-font">Score : @Model.Score</div>
<div class="big-center-font"><a href="/ZumaGame/Index">Return</a></div>