@using WebMaze.ResourceLocalization

@model ZumaGameScoreViewModel

<div class="zumagame-win">@ZumaGame.WinGame</div>
<div class="big-center-font">@ZumaGame.Score @Model.Score</div>
<div class="big-center-font"><a href="/ZumaGame/Index">@ZumaGame.Return</a></div>