@using WebMaze.Models.ThreeInRow
@model ThreeInRowGameFieldViewModel

<div class="game-field">
    @for (int x = 0; x < Model.Width; x++)
    {
    <div class="game-field-row">
        @for (int y = 0; y < Model.Height; y++)
        {
            var cell = Model.Cells.SingleOrDefault(cell => cell.X == x && cell.Y == y);
            if (cell.Color == "none")
            {
            <span class="game-field-cell none">
                <a class="game-field-cell link" href="/ThreeInRow/Step"></a>
            </span>
            }
            else if (cell.Color == "red")
            {
            <span class="game-field-cell red"> </span>
            }
            else if (cell.Color == "green")
            {
            <span class="game-field-cell green"> </span>
            }
            else if (cell.Color == "blue")
            {
            <span class="game-field-cell blue"> </span>
            }
            else if (cell.Color == "purple")
            {
            <span class="game-field-cell purple"> </span>
            }
            else
            {
            <span class="game-field-cell orange"> </span>
            }
        }
    </div>
    }
</div>