@model ImageViewModel

<div class="add">
    <div class="add-text">
        Fill out the form to add your picture
    </div>
    <form action="/Gallery/AddImage" method="post" class="form">
        <div class="form-for-pic">
            UserName @Html.DropDownListFor(x => x.Author.Id, ViewBag.Users as SelectList)
        </div>
        <div class="form-for-pic">
            Picture URL @Html.TextBoxFor(x => x.Picture)
        </div>
        <div class="form-for-pic">
            Foto description's @Html.TextBoxFor(x => x.Description)
        </div>
        <div class="form-for-pic">
            Assessment @Html.TextBoxFor(x => x.Assessment)
        </div>
        <div>
            <input type="submit" value="Save" class="form-button" />
        </div>
    </form>
</div>

