@model List<ImageViewModel>

<div class="whole-page">  

    <div class="text-center">
        <h1>Users gallery</h1>

        <div class="pic-to-gallery">
            @foreach (var image in Model)
            {
                <div>
                    <div>
                        <img src="@image.Picture">
                    </div>
                    <div class="t-to-gallery">
                        @image.Assessment
                    </div>
                    <div class="t-to-gallery">
                        @image.Description
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            <button class="good-button" onclick="location.href = '@Url.Action("Wonderful", new { @userId = image.Author.Id })'">Wonderful</button>
                            <button class="bad-button">Awful</button>
                        </div>
                    }
                
                </div>
                
            }
        </div>
    </div>
</div>