@model List<ImageViewModel>

@section Scripts{ 
    <script src="~/js/gallery.js"></script>
} 

@*<div class="whole-page">

    <div class="text-center">
        <h1>Users gallery</h1>

        <div class="pic-to-gallery">
            @foreach (var image in Model)
            {
                <div>
                    <div>
                        <img class="image" src="@image.Picture">
                    </div>
                    <div class="t-to-gallery">
                        @image.Assessment
                    </div>
                    <div class="t-to-gallery">
                        @image.Description
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            <a href="@Url.Action("Wonderful","Gallery", new {@imageId = image.Id})" class="good-button">Wonderful</a>
                            <button class="bad-button">Awful</button>
                        </div>
                    }

                </div>

            }
        </div>
    </div>
</div>*@

<div class="carousel-whole-page">
    <div class="text-center">
        <h1>Users gallery(carousel)</h1>

        <div class="two-picture">
            <div>
                <img src="https://klike.net/uploads/posts/2020-04/1587719791_1.jpg" />
            </div>
            <div>
                <img class="overlay" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFL9LssPgtuGlpuLqOq1Xs4lQWloM-jhRRkg&usqp=CAU" />
            </div>
        </div>

        
    </div>
</div>

