@model List<string>
@section Scripts{
    <script src="~/js/cellInfoHelper.js"></script>
    <link rel="stylesheet" href="~/css/cellInfoHelper.css" />
}

<div class="text-center">
    <h3>Administration: Cell info helper</h3>
    <div>There is no description of such cells: </div>
    <a href="#" class="spoiler-botton" style="text-decoration: none">Click here</a>

    <div class="spoiler-body">
        @foreach (var item in Model)
        {
            <div>@item</div>
        }
        <a href="/Admin/DownloadCellInfoHelper" class="spoiler-botton" style="text-decoration: none">Click for download</a>
    </div>

</div>
