@section Scripts{
    <link rel="stylesheet" href="~/css/AdminPanelForUserEditing.css" />
}

<div class="PageBody">
    <div class="PageBodyContainer">
        <font class="HeaderOfPageBody">
            Admin Panel
        </font>
            
        <div class="MainPageBodyPart">
            <div class="MainHeader">
                <div class="UserListName">
                    User List
                </div>
                <div class="PermissionsName">
                    Permissions
                </div>
            </div>
                <div class="MainTable">
                    <div class="UserList">
                    </div>
                    <div class="Admin">
                        Admin
                    </div>
                    <div class="News Creator">
                        News Creator
                    </div>
                    <div class="Forum Moderator">
                        Forum Moderator
                    </div>
                    <div class="Remove">
                        Remove
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
