@model AdminMenuViewModel
@section Scripts{
<link rel="stylesheet" href="~/css/AdminPanelForUserEditing.css" />
}

<div class="PageBody">
    <div class="PageBodyContainer">
        <font class="HeaderOfPageBody">
            Admin Panel
        </font>

        <div class="MainPageBodyPart">
            <div class="MainHeader">
                <div class="UserListName">
                    User List
                </div>
                <div class="PermissionsName">
                    Permissions
                </div>
            </div>
            <div class="MainTableNames">
                <table>
                    <tr><td width= 30%><div class="FirstColumn"></div></td>
                        <td width= 17.5%><div class="SecondColumn">Admin<div></td>
                        <td width= 17.5%><div class="ThirdColumn">News Creator<div></td>
                        <td width= 17.5%><div class="FourthColumn">Forum Moderator<div></td>
                        <td width= 17.5%><div class="FifthColumn">Ban<div></td>
                    </tr>
                </table>
            </div>
            <div class="MainTable">
                <table>
                    @foreach (var user in Model.Users)
                    {
                    <tr><td width= 30%><div id="Ftc-@user.Id" class="FirstColumn">@user.UserName</div></td>
                        <td width= 17.5%><div id="Scc-@user.Id" class="SecondColumn"><input class="apple-switch" type="checkbox"></div><div></td>
                        <td width= 17.5%><div id="Thc-@user.Id" class="ThirdColumn"><input class="apple-switch" type="checkbox"><div></td>
                        <td width= 17.5%><div id="Foc-@user.Id" class="FourthColumn"><input class="apple-switch" type="checkbox"><div></td>
                        <td width= 17.5%><div id="Ffc-@user.Id" class="FifthColumn"><input class="apple-switch-red" type="checkbox"><div></td>
                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
</div>
