@section Scripts{
<link rel="stylesheet" href="~/css/AdminPanelForUserEditing.css" />
}

<div class="PageBody">
    <div class="PageBodyContainer">
        <font class="HeaderOfPageBody">
            Admin Panel
        </font>

        <div class="MainPageBodyPart">
            <div class="MainHeader">
                <div class="UserListName">
                    User List
                </div>
                <div class="PermissionsName">
                    Permissions
                </div>
            </div>
            <div class="MainTableNames">
                <div class="UserList">
                </div>
                <div class="Admin">
                    Admin
                </div>
                <div class="News Creator">
                    News Creator
                </div>
                <div class="Forum Moderator">
                    Forum Moderator
                </div>
                <div class="Remove">
                    Remove
                </div>
            </div>
            <div class="MainTable">
                <table>
                    <tr><td width= 30%><div class="FirstColumn">Samsung</div></td>
                        <td><div class="SecondColumn">Galaxy S7 Edge<div></td>
                        <td><div class="ThirdColumn">60000<div></td>
                        <td><div class="FourthColumn">Samsung<div></td>
                        <td><div class="FifthColumn">Samsung<div></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
