

@section Scripts{ 
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/documentPreparation.js"></script>
}

<div class="status">
    <div class="status-title"> Status info: 
        <div class="status-percent"> 
            <div class="status-percent-text"> </div>
            <div class="status-percent-line"> 
                <div class="status-percent-line-bg"> </div>
            </div>
        </div>
    </div>
    

</div>


<div>   
    <a href="/GetDocument/StopPreparation?documentId=1"> Stop preparation</a>
</div>

<div>
    <a href="/GetDocument/DownloadDocument"> Download</a>
</div>