

@section Scripts{ 
    <script src="~/js/documentPreparation.js"></script>
}

<div>   
    Status...
</div>


<div>   
    <a href="/GetDocument/StopPreparation?documentId=1"> Stop preparation</a>
</div>

<div>
    <a href="/GetDocument/DownloadDocument"> Download</a>
</div>