@using WebMaze.Models.GenerationDocument
@model DocumentStatus


<div class="content">       
    <div class="content-title">   
        Get document
    </div>

    <div>   
        <a href="/GetDocument/StartPreparation"> Start preparation</a>
    </div>
</div>

