

<div class="content">       
    <div class="content-title">   
        Get document
    </div>

    <div>   
        <a href="/GetDocument/StartPreparation"> Start preparation</a>
    </div>

    <div class="content-title">
        Get PDF
    </div>
    
    <div>
         <a href="/GetPDF/StartPreparationPDF"> Start preparation PDF</a>
    </div>    
</div>

