@using WebMaze.Services
@inject UserService userService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebMaze</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel='stylesheet' href='~/css/ruleobj.css'>
    <link rel="stylesheet" href="~/css/reviews.css" />
    <link rel="stylesheet" href="~/css/VitalityPotion_Slime.css" />
    <link rel="stylesheet" href="~/css/Teleport_in_out.css" />
    <link rel='stylesheet' href='~/css/goldmine.css'>
    <link rel="stylesheet" href="~/css/bugReports.css" />
    <link rel="stylesheet" href="~/css/gameDevices.css" />    
    <link rel="stylesheet" href="~/css/maze.css" />
    <link rel="stylesheet" href="~/css/Bed.css" />
    <link rel="stylesheet" href="~/css/Goblin.css" />
    <link rel="stylesheet" href="~/css/PayForAction.css" />
    <link rel="stylesheet" href="~/css/NewsComments.css" />
    <link rel="stylesheet" href="~/css/ZumaGame.css" />
    <link rel="stylesheet" href="~/css/ThreeInRow.css" />
    <link rel="stylesheet" href="~/css/miner.css" />
    <link rel="stylesheet" href="~/css/seaBattle.css" />
    <link rel="stylesheet" href="~/css/documentPreparation.css" />
    <link rel="stylesheet" href="~/css/currency.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/Language.js"></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("Sprite", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            User
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="dropdown-item" href="/Home/AddUser">Register</a>
                                <a class="dropdown-item" href="/User/Login">Login</a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="/User/Profile">Profile</a>
                                <a class="dropdown-item" href="/User/Logout">Exit</a>
                            }
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Info
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/CellInfo/Carousel">Carousel</a>
                            <a class="dropdown-item" href="/CellInfo/Trap">Trap info</a>
                            <a class="dropdown-item" href="/CellInfo/Tavern">Tavern info</a>
                            <a class="dropdown-item" href="/CellInfo/Walker">Walker info</a>
                            <a class="dropdown-item" href="/CellInfo/AgressiveTroll">Agressive troll info</a>
                            <a class="dropdown-item" href="/CellInfo/WeakWall">Weak wall info</a>
                            <a class="dropdown-item" href="/CellInfo/Healer">Healer info</a>
                            <a class="dropdown-item" href="/CellInfo/Wallworm">Wallworm info</a>
                            <a class="dropdown-item" href="/CellInfo/VitalityPotion">VitalityPotion info</a>
                            <a class="dropdown-item" href="/CellInfo/Slime">Slime info</a>
                            <a class="dropdown-item" href="/CellInfo/Puddle">Puddle info</a>
                            <a class="dropdown-item" href="/CellInfo/Geyser">Geyser info</a>
                            <a class="dropdown-item" href="/CellInfo/TeleportIn">Teleport in info</a>
                            <a class="dropdown-item" href="/CellInfo/TeleportOut">Teleport out info</a>
                            <a class="dropdown-item" href="/CellInfo/Goldmine">Goldmine info</a>
                            <a class="dropdown-item" href="/CellInfo/Fountain">Fountain info</a>
                            <a class="dropdown-item" href="/CellInfo/Coin">Coin info</a>
                            <a class="dropdown-item" href="/CellInfo/HealPotion">HealPotion info</a>
                            <a class="dropdown-item" href="/CellInfo/BullEnemy">BullEnemy info</a>
                            <a class="dropdown-item" href="/CellInfo/Bed">Bed info</a>
                            <a class="dropdown-item" href="/CellInfo/Goblin">Goblin info</a>
                        </div>
                    </li>

                    @if (userService.IsAdmin)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administration
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Admin/ViewPermission">View permission</a>
                                <a class="dropdown-item" href="/Admin/EditingUsers">Editing users</a>
                                <a class="dropdown-item" href="/Admin/ReflectionPages">ReflectionPages</a>
                                <a class="dropdown-item" href="/BugReport/BugReports">List of reports</a>
                                <a class="dropdown-item" href="/Admin/CellInfoHelper">Cell info helper</a>
                                <a class="dropdown-item" href="/SearchSpecificUsers/Index">Search for specific users.</a>
                            </div>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Maze
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Suggested/NewCellSugg">New CellSugg</a>
                            <a class="dropdown-item" href="/CellInfo/AddCell">Add Cell</a>
                            <a class="dropdown-item" href="/Stuff/Stuff">Hero's Stuff</a>

                            <a class="dropdown-item" href="/Maze/Index">Maze</a>
                            <a class="dropdown-item" href="/Suggested/AddSuggestedEnemy">Add Suggested Enemy</a>
                            <a class="dropdown-item" href="/Suggested/SuggestedEnemys">Suggested Enemies</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/News/Index">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Reviews/Index">Reviews</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Books
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="dropdown-item" href="/Home/AddBook">Add Book</a>
                            }
                            <a class="dropdown-item" href="/Home/Book">Books</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/GameDevices/GameDevices">Game devices</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gallery
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Gallery/Index">Gallery</a>
                            <a class="dropdown-item" href="/Gallery/GalleryCarousel">Carousel</a>
                            
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="dropdown-item" href="/Gallery/AddImage">Add Image</a>
                            }
                        </div>
                    </li>

                    @*@if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gallery
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/Gallery/Index">Gallery</a>
                    <a class="dropdown-item" href="/Gallery/GalleryCarousel">Carousel</a>
                    <a class="dropdown-item" href="/Gallery/AddImage">Add Image</a>
                </div>
            </li>
        }*@

                    <li class="nav-item">
                        <a class="nav-link" href="/ThreeInRow/WelcomePage">Three In Row</a>
                    </li>

                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Get documents
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link" href="/GetDocument/Index">Get document</a>
                            <a class="nav-link" href="/GetPDF/Index">Get PDF</a>
                        </div>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/ZumaGame/Index">ZumaGame</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Miner/StartGame">Miner</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="/Maze/Couple">Couple</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Play15/Start">15</a>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link" asp-controller="Currency" asp-action="Index">Currency</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            FavoriteGames
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Game/AddGame">Add Fav Game</a>
                            <a class="dropdown-item" href="/Game/FavoriteGames">Fav Games</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            GuessTheNumber
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link" href="/GuessTheNumber/CheckForUnfinishedGame">Start Game</a>
                        </div>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/SeaBattle/Index">Sea Battle</a>
                        </li>
                    }


                </ul>
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>


    <footer class="border-top footer text-muted bottom">
        <div class="container">
            &copy; 2021 - WebMaze
        </div>
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="language-selection">
                <select class="Language-Selector"></select>
            </div>
        }
    </footer>
</body>
</html>
