<div class="back15">

    <div class="container15">
        @for (var j = 0; j < 4; j++)
        {
            <div>
                @for (var i = 0; i < 4; i++)
                {
                    <div  class="square">
                        <span class="number">1</span>
                    </div>
                }
            </div>
        }
    </div>

</div>
