<div class="back15">

    <div class="container15">
        @for (var j = 0; j < 4; j++)
        {
            <div class="square">
                @for (var i = 0; i < 4; i++)
                {
                    <div class="number"></div>
                }
            </div>
        }
    </div>

</div>
