@section Scripts{
    <link rel="stylesheet" href="~/css/Play15.css" />
}

<div class="container15-start">

    <div class="start-button">
        <a href="/Play15/Play">Play 15</a>
    </div>

</div>

