@model UserViewModel

<div>
    Profile
    <div>
        Hi @Model.UserName
    </div>
    <div>
        Coins: @Model.Coins

        <form action="/User/NewCoin" method="post">
            @Html.TextBoxFor(x => x.Coins)
            <input type="submit" value="Change coin count" />
        </form>
    </div>
</div>