@using WebMaze.Models.CurrencyDto
@model CurrencyRate

<div>
    On date: @Model.Date
    Currency name: @Model.Cur_Name - Currency scale: @Model.Cur_Scale - Currency rate: @Model.Cur_OfficialRate
    <a href="/Currency/Index">Back</a>
</div>