@using WebMaze.Models.GenerationDocument
@model PDFGenerationTaskInfo
@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/pdfPreparation.js"></script>
}

<input class="pdfId" type="hidden" value="@Model.Id" />

@if (Model.ReadyToDownload)
{
    <div class="status">
        <div class="status-title">
            Status info: Finished
            <div class="status-document-name">
                PDF:@Model.Name with ID:@Model.Id
            </div>            
        </div>
    </div>

    <div class="download">
        <a href="/GetPDF/DownloadPDF?pdfId=@Model.Id">Download PDF</a>
    </div>
}
else
{
    <div class="status">
        <div class="status-title">
            Status info:
            <div class="status-document-name"> </div>
            <div class="status-percent">
                <div class="status-percent-text"> </div>
                <div class="status-percent-line">
                    <div class="status-percent-line-bg"> </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="cancel-button">
    <a href="#"> Cancel preparation</a>
</div>

<div>
    <a href="/GetPDF/Index">Back to get PDF</a>
</div>
