@model StuffForHeroViewModel

<div class="addStuff">
    <form action="/Home/AddStuffForHero" method="post">
        <div>
            Name @Html.TextBoxFor(x => x.Name)
        </div>
        <div>
            Description @Html.TextBoxFor(x => x.Description)
        </div>
        <div>
            PictureLink @Html.TextBoxFor(x => x.PictureLink)
        </div>
        <div>
            Price @Html.TextBoxFor(x => x.Price)
        </div>
        <div>
            <input type="Submit" value="Save" />
        </div>
    </form>
</div>
