@model BugReportViewModel

<div class="text-center">
    <form action="/BugReport/AddBugReport" method="post">
        <div>
            Descriptoin
            <div>
                @Html.TextAreaFor(x => x.Description)
                <div>
                    @Html.ValidationMessageFor(x => x.Description)
                </div>
                <div>
                    @Html.ValidationSummary(true)
                </div>
            </div>
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </form>

</div>