@using WebMaze.ResourceLocalization

@model SeaBattleGameViewModel

<div class="big-center-font">
    @SeaBattle.LetsGo
</div>

<div class="seabattle-game">

    <div class="seabattle-field">
        @for (int y = 0; y < Model.MyField.Height; y++)
        {
            <div class="seabattle-field-row">
                @for (int x = 0; x < Model.MyField.Width; x++)
                {
                    var cell = Model.MyField.Cells.SingleOrDefault(c => c.X == x && c.Y == y);
                    if (cell.ShipHere)
                    {
                        if (cell.Hit)
                        {
                            <span class="seabattle-damadge-ship-cell" shipNumber=@cell.ShipNumber>
                            </span>
                        }
                        else
                        {
                            <span class="seabattle-normal-ship-cell" shipNumber=@cell.ShipNumber>
                            </span>
                        }
                    }
                    else
                    {
                        if (cell.Hit)
                        {
                            <span class="seabattle-hit-cell">
                            </span>
                        }
                        else
                        {
                            <span class="seabattle-empty-cell">
                            </span>
                        }
                    }
                }
            </div>
        }
    </div>

    <div class="seabattle-field">
        @for (int y = 0; y < Model.EnemyField.Height; y++)
        {
            <div class="seabattle-field-row">
                @for (int x = 0; x < Model.EnemyField.Width; x++)
                {
                    var cell = Model.EnemyField.Cells.SingleOrDefault(c => c.X == x && c.Y == y);
                    if (cell.ShipHere)
                    {
                        if (cell.Hit)
                        {
                            <span class="seabattle-damadge-ship-cell" shipNumber=@cell.ShipNumber>
                            </span>
                        }
                        else
                        {
                            <span class="seabattle-normal-ship-cell">
                                <a href="/SeaBattle/ClickOnCell?id=@cell.Id"></a>
                            </span>
                        }
                    }
                    else
                    {
                        if (cell.Hit)
                        {
                            <span class="seabattle-hit-cell">
                            </span>
                        }
                        else
                        {
                            <span class="seabattle-empty-cell">
                                <a href="/SeaBattle/ClickOnCell?id=@cell.Id"></a>
                            </span>
                        }
                    }
                }
            </div>
        }
    </div>
</div>

<div class="big-center-font">
    <a href="/SeaBattle/LoseGame">@SeaBattle.Defeat</a>
</div>

