

<div>

    <div class="big-center-font">
        Sea Battle
    </div>

    <div>
        Continue game
    </div>

    <div>
        Difficult
    </div>
    <div class="big-center-font">
        <a href="/SeaBattle/Game">Test</a>
    </div>















</div>