@model CellInfoViewModel


<div class='Cells'>
    <div class='imeges'>
        <div>
            <img width='200px;'
                 height='200px;'
                 src='/images/troll.jpg' />
        </div>
        <div class='imeges-text'>
            <div>HP:</div>
            <div>USE: You can't step on </div>
        </div>
    </div>
    <div class='description'>
        Aggressive troll tries to catch up with the hero
    </div>

</div>