@model CellInfoViewModel

    <html>
    <head>
        <link rel="stylesheet" href="~/css/styleYT.css" />
    </head>
    <body>
        <div class="block001">
            <div class="block002">
                <h1 class="rule">Cells info</h1>
            </div>
            <div class="block003">
                <div >
                    <img class="block003-1" src='@Model.ImageUrl' />
                </div>
                <div class="block003-2">
                    <ul class="list">
                        <li>Enemy.</li>                        
                    </ul>
                    <div>Can step: <input type="checkbox" checked="@(Model.CanStep ? "checked" : null)" disabled="disabled" /> </div>
                </div>
                <div class="block003-3">
                    <p class=text001> Aggressive troll tries to catch up with the hero </p>
                </div>
            </div>
        </div>

    </body>
    </html>