<div class='Bed'>
    <div class='Picture'>
        <img src='@Model.ImageUrl'/>
    </div>
    <div class='BedRemainder'>
        <div>
            @Model.Remainder
        </div>
        <div class='Use'>
            @Model.Use
        </div>
    </div>
    <div class='BedDescription'>
        @Model.Desc
    </div>
</div>