@model CellInfoViewModel

<div class='Bed'>
    <div class='Picture'>
        <img src='@Model.Url' />
    </div>
    <div class='BedRemainder'>
        <div>
            Fatigue decreases to zero.
        </div>
    </div>
    <div class='BedDescription'>
        @Model.Desc
    </div>
</div> 