<div class='Bed'>
    <div class='Picture'>
        <img width='240px' src='@Model.ImageUrl' />
    </div>
    <div class='BedRemainder'>
        <div>
            Fatigue decreases to zero.
        </div>
        <div>
            Use:
        </div>
    </div>
    <div class='BedDescription'>
        @Model.Desc
    </div>
</div>