@section Scripts{
<script src="~/js/Cells/carousel.js"></script>
<link rel="stylesheet" href="~/css/carousel.css" />
}

<div class="carousel-head">
    Carousel
</div>

<div class="carousel-block">
    <span class="carousel-image">
        <img class="next-image" src="" />
        <img class="current-image" src="" />
    </span>
</div>