@model CellInfoViewModel
    <div class="List-of-cells">
        <div>
            <a href="/CellInfo/AgressiveTroll">Agressive troll info</a>
        </div>
        <div>
            <a href="/CellInfo/Coin">Coin info</a>
        </div>
        <div>
            <a href="/CellInfo/Healer">Healer info</a>
        </div>
        <div>
            <a href="/CellInfo/Fountan">Fountan info</a>
        </div>
        <div>
            <a href="/CellInfo/Wallworm">Wall worm info</a>
        </div>
        <div>
            <a href="/CellInfo/WeakWall">Weak wall info</a>
        </div>
    </div>