@model CellInfoViewModel
@{
    Layout = "_LayoutYellowTeam";
}
<html>

<head>
    <link rel="stylesheet" href="~/css/styleYellowTeam.css" />
</head>
<body>
    <div class="rule">
        Cells info
    </div>
</body>
</html>