<div class='Goblin'>
    <div class='Picture'>
        <img src=@Model.ImageUrl />
    </div>
    <div class='GoblinRemainder'>
        <div>
            @Model.Remainder
        </div>
        <div class='Use'>
            @Model.Use
        </div>
    </div>
    <div class='GoblinDescription'>
        @Model.Desc
    </div>
</div>