<div class='Goblin'>
    <div class='Picture'>
        <img width='200px;' src=@Model.ImageUrl />
    </div>
    <div class='GoblinRemainder'>
        <div>
            Hero will get great deal of money, but catch me first.
        </div>
        <div>
            Use:
        </div>
    </div>
    <div class='GoblinDescription'>
        @Model.Desc
    </div>
</div>