@model CellInfoViewModel


    <div class='Goblin'>
        <div class='Picture'>
            <img src='@Model.Url' />
        </div>
        <div class='GoblinRemainder'>
            <div>
                Hero will get great deal of money, but catch me first.
            </div>
        </div>
        <div class='GoblinDescription'>
            @Model.Desc
        </div>
        <div>
            <form action="/CellInfo/Goblin" class="form" enctype="multipart/form-data"/>
                <input type="file" name="@nameof(CellInfoViewModel.DescFile)" />
        </div>
    </div>
