@model CellInfoViewModel

<div class="goldmine-info">
    <div class="goldmine-info-header">
        Goldmine 
    </div>
    <div class="goldmine-info-content">
        <div class="goldmine-info-img">
            <img src='@Model.ImageUrl' />
        </div>
        <div class="goldmine-info-stats">
            Can step: <input type="checkbox" checked="@(Model.CanStep ? "checked" : null)" disabled="disabled" />
        </div>
        <div class="goldmine-info-description">
            <div class="goldmine-info-description-header">
                Info
            </div>
            <div class="goldmine-info-description-text">
                @Model.Desc
            </div>
        </div>
    </div>  
</div>
