@model CellInfoViewModel


    <div class='allContentPG'>
        <div class='imagePG'>
            <img width="400px" src='@Model.Url' />
        </div>

        <div class='propertiesPG'>
            <a>
                Can step: <input type="checkbox" checked="@(Model.CanStep ? " checked" : null)" disabled="disabled" />
            </a>
            <p>
                Message: "wap-wap"
            </p>
        </div>

        <div class='descriptionPG'>
            @Model.Desc
        </div>
    </div>
