@model CellInfoViewModel

<div class="cell-reverse">

    <div class="cell-info-reverse">
        <div>
            <img class="image" src="@Model.ImageUrl">
        </div>

        <div class="cellParameters">
            <p>MaxHp: 1</p>
            <p>AddCoinOnGround: 33%</p>
        </div>
    </div>

    <div class="cell-description">
        <p>@Model.Desc</p>
    </div>
</div>