@model CellInfoViewModel

@section Scripts{
    <script src="~/js/Cells/vitalityPotion.js"></script>
}

<div class="cell-normal">

    <div class="cell-info">
        <div>
            <img class="image" src="@Model.Url">
        </div>

        <div class="cellParameters">
            <p>AddMaxFatigue: 5</p>
        </div>
    </div>

    <div class="cell-description">
        <p>@Model.Desc</p>
    </div>
</div>
