@model CellInfoViewModel

<div class="cell">

    <div class="cell-info">
        <div>
            <img width="100px" src="@Model.ImageUrl">
        </div>

        <div class="cellParameters">
            <p>AddMaxFatigue: 5</p>
        </div>
    </div>

    <div class="cell-description">
        <p>Увеличивает максимальное количество усталости на 5</p>
    </div>
</div>
