@model CellInfoViewModel
    <div class="MainDiv">
        <h1>
            Rule
        </h1>
        <hr>
        <div class="WolfPitFlexbox">
            <img src="../WolfPit and Coin Card/pictures/WolfPit.png" alt="WolfPitIcon" class="WolfPitIcon">
            <article class="ShortDescriptionWP">
                <ul>
                    <li>
                        hp: -1
                    </li>

                    <li>
                        multiplicity: reusable
                    </li>
                </ul>
            </article>
            <article class="WolfPitDescription">
                <p>If you step on wolf pit, you lose 1 h.p.</p>
            </article>
        </div>
